<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Open Graph Protocol Section -->
	<meta property="og:description" 
	  content="Alex is a developer and teacher with over 100 field days as a wilderness guide.
	  He is based out of Atlanta, GA and loves ultimate, cycling and cooking." />
	<meta property="og:site_name" content="Alex Trautman" />
	<meta property="og:image" content="http://alextrautman.me/assets/trout.svg" />
	<meta property="og:image:width" content="925" />
	<meta property="og:image:height" content="330" />
	<!-- End Open Graph Protocol Section -->

	<title>{% if page.title %}{{ page.title | prepend: "Alex Trautman: " }}{% else %}{{ site.title }}{% endif %}</title>

	<link rel="stylesheet" href="{{ '/css/main.css' | prepend: site.baseurl }}">
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800,600' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/favicon-32x32.png' | prepend: site.baseurl }}">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/favicon-16x16.png' | prepend: site.baseurl }}">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">

</head> 