$content-width: 800px;
$main: #19CCAA;
$light: #ffffff;
$header:  #25c3a2;;
$font-style: 'Roboto Condensed', sans-serif;
$font-color: #262626;
$link-color: #346fc6;
$link-hover-color: $font-color;
$heading-font: 'Roboto Condensed', sans-serif;
$heading-font-color: $main;

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}