$content-width: 800px;
$main: #19CCAA;
$light: #ffffff;
$header:  #25c3a2;;
$font-style: 'Roboto Condensed', sans-serif;
$font-color: #262626;
$link-color: #346fc6;
$link-hover-color: $font-color;
$heading-font: 'Roboto Condensed', sans-serif;
$heading-font-color: $main;

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

@mixin breakpoint($class) {
	@if $class == mob {
	  @media (max-width: 479px) { @content; }
	}

	@else if $class == xs {
		@media (max-width: 767px) { @content; }
	}

	@else if $class == sm {
		@media (min-width: 768px) { @content; }
	}

	@else if $class == md {
	  @media (min-width: 992px) { @content; }
	}

	@else if $class == lg {
	  @media (min-width: 1200px) { @content; }
	}

	@else {
	  @warn "Breakpoint mixin supports: mob, xs, sm, md, lg";
	}
  }