body {
	margin: 0;
	color: $font-color;
	font-family: $font-style;
	font-size: 1em;
	line-height: 1.6;
	-webkit-font-smoothing: antialiased;
	a {
	text-decoration: none;
	}
}
h1,
h2,
h3 {
	font-weight: 600;
	color: $link-color;
	font-family: $heading-font;
	line-height: 1.5;
}
h1 {
	color: $main;
	font-size: 2.5em;
	a,
	a:visited {
		text-decoration: none;
		color: $light;
	}
}
h2 {
	font-size: 2em;
}
a,
a:visited {
	color: $link-color;
	text-decoration: underline;
	font-weight: bold;
}
a:hover {
	color: $link-hover-color;
	text-decoration: underline;
}
header {
	// padding: 100px 115px;
	// display: flex;
}
main {
	padding: 0 15px;
	max-width: $content-width;
	margin: 0 auto;
}
time {
	// color: #898989;
}
.container {
	max-width: $content-width;
	margin: 0 auto;
}

/* Aside */

aside {
	position: fixed;
	top: 0;
	left: 0;
	background: #fff;
	width: 100%;
	z-index: 2;
	border-bottom: 1px solid lighten($light, 30%);
	box-shadow: 0px 1px 1px RGBA(4, 25, 54, .1);
	nav {
		float: left;
		max-width: 800px;
		margin: 0 auto;
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			li {
				float: left;
				position: relative;
				a {
					text-decoration: none;
					display: block;
					padding: 15px;
					font-family: $heading-font;
					line-height: 20px;
					margin-bottom: -1px;
					box-shadow: 0;
					&:hover,
					&:active {
						background: $header;
						text-decoration: none;
						color: $light;
					}
				}
			}
		}
		&:after {
			content: '';
			display: table;
			clear: both;
		}
	}
}
footer {
	text-align: center;
	padding: 40px;
}
#button, .button{
	background-color: $link-color;
	border: none;
	color: $light;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 10px;
}
#button:hover {
	cursor: pointer;
}

    /*************
    **************
    CSS Grid for Nature Scene ********************************************************************/

.wrapper {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 80vh;
	grid-gap: 10px;
	@include breakpoint(xs) {
		grid-template-columns: 90vw;
		grid-template-rows: 80vh 80vh;
	}
}
.box-text {
	overflow-y: scroll;
}
body.nature {
	height:100%;
	overflow:hidden;
	@include breakpoint(xs) {
		overflow:scroll;
	}
}

.no-scrollbar-parent{
	height: 100%;
    width: 100%;
    overflow: hidden;
}

.no-scrollbar-child {
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
	box-sizing: content-box;
}

    /*************
    **************
    Trout Animation ********************************************************************/

svg.trout {
	height:70px;
	display:block;
	margin:auto;
}

@keyframes eye {
    0%        {opacity: 0}
    15%, 70%  {opacity: 1}
    85%, 100% {opacity: 0}
}

#Eye {
    animation: eye 5s linear infinite;
}

@keyframes topfin {
    0% { -webkit-transform: rotate(0deg);
    transform:rotate(0deg); }
    30% { -webkit-transform: rotate(1deg);
    transform:rotate(0.5deg); }
    80% { -webkit-transform: rotate(-1deg);
    transform:rotate(-1deg); }
    100% { -webkit-transform: rotate(0deg);
    transform:rotate(0deg); }
}

#Top_Fin {
    // animation: topfin 2s linear infinite;
}

@keyframes forearm {
    0% { -webkit-transform: rotate(0deg);
    transform:rotate(0deg); }
    25% { -webkit-transform: rotate(1deg);
    transform:rotate(1deg); }
    75% { -webkit-transform: rotate(-1deg);
    transform:rotate(-1deg); }
    100% { -webkit-transform: rotate(0deg);
    transform:rotate(0deg); }
}

#Forearm {
    // animation: forearm 2s ease infinite;
}

@keyframes spot1 {
  0% {fill: #4a5853;}
  8% {fill: #32C2A2;}
  100% {fill: #4a5853;}
}

@keyframes spot2 {
  0% {fill: #4a5853;}
  16% {fill: #32C2A2;}
  100% {fill: #4a5853;}
}

@keyframes spot3 {
  0% {fill: #4a5853;}
  24% {fill: #32C2A2;}
  100% {fill: #4a5853;}
}

@keyframes spot4 {
  0% {fill: #4a5853;}
  32% {fill: #32C2A2;}
  100% {fill: #4a5853;}
}

@keyframes spot5 {
  0% {fill: #4a5853;}
  40% {fill: #32C2A2;}
  100% {fill: #4a5853;}
}

@keyframes spot6 {
  0% {fill: #4a5853;}
  48% {fill: #32C2A2;}
  100% {fill: #4a5853;}
}

@keyframes spot7 {
  0% {fill: #4a5853;}
  56% {fill: #32C2A2;}
  100% {fill: #4a5853;}
}

@keyframes spot8 {
  0% {fill: #4a5853;}
  64% {fill: #32C2A2;}
  100% {fill: #4a5853;}
}

@keyframes spot9 {
  0% {fill: #4a5853;}
  72% {fill: #32C2A2;}
  100% {fill: #4a5853;}
}

@keyframes spot10 {
  0% {fill: #4a5853;}
  80% {fill: #32C2A2;}
  100% {fill: #4a5853;}
}

#Spot1 path{  animation: spot1 5s infinite; }
#Spot2 path{  animation: spot2 5s infinite; }
#Spot3 path{  animation: spot3 5s infinite; }
#Spot4 path{  animation: spot4 5s infinite; }
#Spot5 path{  animation: spot5 5s infinite; }
#Spot6 path{  animation: spot6 5s infinite; }
#Spot7 path{  animation: spot7 5s infinite; }
#Spot8 path{  animation: spot8 5s infinite; }
#Spot9 path{  animation: spot9 5s infinite; }
#Spot10 path{ animation: spot10 5s infinite; }

    /*************
    **************
    CSS Helpers ********************************************************************/
.text-center {
	text-align:center;
}
.margin-auto {
	margin:auto;
}
.grid {
	display: grid;
	grid-template-columns: 50% 50%;
}

    /*************
    **************
	Skills Page ********************************************************************/

	// When adding to the length of the list, change the modulo number in new_skills
	// This will assign classes bg- for the appropriate number of colors
	$colors: #86ED60, #55D2B6, #9383f0,#7CBCEA;


@for $i from 1 through length($colors) {
    .bg-#{$i} {
        background: nth($colors, $i)
    }
    .fill-#{$i} {
        fill: nth($colors, $i)
    }
}

.skills-grid{
	display: grid;
	grid-auto-rows: 145px;
	grid-gap: 10px;
	grid-template-columns: 33% 33% 33%;
	@include breakpoint(xs) {
		grid-template-columns: 90vw;
	}
}
.skills-list-item {
	text-align: center;
	border-radius: 45px;
	color: $light;
	h3 {
		color: $light;
		font-size: 1.5em;
		margin-top: 0.7em;
	}
	p {
		margin-top: 0.2em;
		font-size: 0.9em;
		margin-left: .5em;
		margin-right: .5em;
	}
	h3, p {
    	margin-bottom: 0em;
	}
}
.location {
	margin-bottom: 3em;
	h2 {
		font-size: 2em;
	}
}

// This code did not get compiled into main.css last time
.blog-block {
	margin-top: 3em;

	h3 {
	background: #26c3a2;
    padding: 10px;
    color: white;
	border-radius: 10px;
	}
	img {
		max-height: 95%;
		margin: auto;
		display: block;
		max-width: 95%;
		padding-top: 15px;
		padding-right: 10px;
	}
}

// Fonts
.font-patrick {
    font-family: 'Patrick Hand SC', cursive;
    text-transform: capitalize;
}
.font-hand {
    font-family: 'Just Another Hand', cursive;
}
.font-marker{
	font-family: 'Permanent Marker', cursive;
}
.font-link-color{
	color: $link-color;
}
.signature {
	font-size: 2em;
}

.icon {
	height: 30px;
	width: 30px;
}

.downarrow{
	width: 35px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	fill: #949494;
}

.Skills ul li {
	color: $link-color;
	padding-bottom: 1em;
	span {
		color: black;
		b {
			color: $link-color;
		}
	}
}

////////////////////////////////////////////////////////////////////////////////////
// Begin homebody
.homebody{
	header{
		height: 100vh;
		// max-width: 777px;
		// padding: 120px;
		@include breakpoint(xs) {
			padding: 10px 10px;
		}
		.trout{
			width:100%;
		}
	}
	h1, h2, h3{
		font-size:1.5em;
		font-weight: 400;
	}
	h2{}
	h3{}
	h4{
		color: $link-color;
		font-size: 1.2em;
		margin-bottom: 5px;
	}
	.Skills h4{
		padding-top:0;
	}
	h5{
		margin:0;
	}
	.font-400{
		font-weight:400;
	}

	section{
		margin-bottom: 67vh;
		@include breakpoint(xs) {
			margin-bottom: 33vh;
		}	
		p{
			// padding-top:15px;
		}
	}
	div.section-title{
		color: $link-color;
		text-transform: uppercase;
		font-weight:600;
		font-size:1.3em;
		text-align: center;
	}
	div.section-content{
		margin: auto;
		width: 90%;
		max-width: 800px;
		@include breakpoint(xs) {
			padding-left: 25px;
		}
		p{
			text-align:center;
		}
		.blog-block{
			p{
				text-align:left;
			}		
		}
	}
	main{
		// margin: 0px 77px;
	}
	svg.trout {width: 100%;}
	ul{
		li{
			padding-bottom: 0;
		}
	}
	.no-bullets ul{
		list-style-type: none;
		padding-left:0;
	}
	.small-list li{
		font-size: 0.8em;
	}
	.skills-grid{
		@include breakpoint(xs) {
			grid-template-columns: 100%;
			grid-auto-rows:unset;
		}	
	}
	.experience{
		display: grid;
		grid-gap: 10px;
		grid-template-columns: 70% 30%;
		margin-top:15px;
		@include breakpoint(xs) {
			grid-template-columns: 67% 33%;
		}	
		.experience-left{

		}
		.experience-right{
			text-align: right;
		}
		h4{
			margin:0px;
		}
	}
	
	.section-grid{
		display: grid;
		grid-template-columns: 30% 70%;
		@include breakpoint(xs) {
			grid-template-columns: 100%;
		}	

	}
	.skill-item {
		// border-radius: 1em;
		// border: solid 1px $link-color;
		display: inline-block;
		height: 2em;
		p {
			margin-top: 0.2em;
			font-size: 0.9em;
			margin-left: .5em;
			margin-right: .5em;
			margin-bottom: 0em;
		}
	}	
	.skill-category{
		font-weight: 600;
	}
	.grid{
		grid-template-columns: 25% 25% 25% 25%;
	}
	.grid-30-70{
		grid-template-columns: 30% 70%;
		row-gap: 20px;
	}
	.grid-three{
		grid-template-columns: 33% 34% 33%;
	}
	.grid-five{
		grid-template-columns: 20% 20% 20% 20% 20%;
	}
	.Skills{
		text-align: center;
	}
	time{
		float:right;
	}
}
// End homebody
////////////////////////////////////////////////////////////////////////////////////


// Vertical triple align

.triple-align, .bird-align{
	display: flex;
	align-items: flex-start;
	flex-direction: column;
}
.triple-align{
	justify-content: center;

}
.bird-align{
	justify-content: flex-end;
}

.triple-align-item{
	max-width: 50%;
}

.triple-align-item-top{
	align-self: flex-start;
}

.triple-align-item-bottom{
	align-self: flex-end;
}

// svg#Flying, svg#Standing, svg#Post{
svg.bird{
	height: 200px;
}

.bird-wrapper{
	height: 300px;
	margin-top: -150px;
}

.replay-arrow{
	height: 30px;
    width: 30px;
    position: absolute;
    top: 15px;
	left: 15px;
	fill: $link-color;
}
.text-uppercase {
	text-transform: uppercase;
}
.back-arrow{
	height: 35px;
    position: absolute;
    top: 20px;
	left: 20px;
	fill: $link-color;
}
#background{
	padding-top:100px;
}