body {
	margin: 0;
	color: $font-color;
	font-family: $font-style;
	font-size: 1.1em;
	line-height: 1.6;
	-webkit-font-smoothing: antialiased;
}
h1,
h2,
h3 {
	font-weight: 600;
	color: $link-color;
	font-family: $heading-font;
	line-height: 1.5;
}
h1 {
	color: $main;
	font-size: 2.5em;
	a,
	a:visited {
		text-decoration: none;
		color: $light;
	}
}
h2 {
	font-size: 2em;
}
a,
a:visited {
	color: $link-color;
	text-decoration: underline;
	font-weight: bold;
}
a:hover {
	color: $link-hover-color;
	text-decoration: underline;
}
header {
	background: $header;
	padding: 0px 15px;
	text-align: center;
	margin: 50px 0 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
main {
	padding: 0 15px;
	max-width: $content-width;
	margin: 0 auto;
}
time {
	color: #898989;
}
.container {
	max-width: $content-width;
	margin: 0 auto;
}

/* Aside */

aside {
	position: fixed;
	top: 0;
	left: 0;
	background: #fff;
	width: 100%;
	z-index: 2;
	border-bottom: 1px solid lighten($light, 30%);
	box-shadow: 0px 1px 1px RGBA(4, 25, 54, .1);
	nav {
		float: left;
		max-width: 800px;
		margin: 0 auto;
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			li {
				float: left;
				position: relative;
				a {
					text-decoration: none;
					display: block;
					padding: 15px;
					font-family: $heading-font;
					line-height: 20px;
					margin-bottom: -1px;
					box-shadow: 0;
					&:hover,
					&:active {
						background: $header;
						text-decoration: none;
						color: $light;
					}
				}
			}
		}
		&:after {
			content: '';
			display: table;
			clear: both;
		}
	}
}
footer {
	text-align: center;
	padding: 40px;
}
#button{
	background-color: $link-color; 
	border: none;
	color: $light;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 10px;
}
#button:hover {
	cursor: pointer;
}

    /*************
    ************** 
    CSS Grid for Nature Scene ********************************************************************/

.wrapper {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 80vh;
	grid-gap: 10px;
	@include breakpoint(xs) {
		grid-template-columns: 90vw;
		grid-template-rows: 80vh 80vh;
	}		
}
.box-text {
	overflow-y: scroll;
}
body.nature {
	height:100%;
	overflow:hidden;
	@include breakpoint(xs) {
		overflow:scroll;
	}	
}

.no-scrollbar-parent{
	height: 100%;
    width: 100%;
    overflow: hidden;
}

.no-scrollbar-child {
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
	box-sizing: content-box;
}

    /*************
    ************** 
    Trout Animation ********************************************************************/

svg.trout {
	height:70px;
	display:block;
	margin:auto;
}

@keyframes eye {
    0%        {opacity: 0}
    15%, 70%  {opacity: 1}
    85%, 100% {opacity: 0}
}

#Eye {
    animation: eye 5s linear infinite;
}

@keyframes topfin {
    0% { -webkit-transform: rotate(0deg);
    transform:rotate(0deg); }
    30% { -webkit-transform: rotate(1deg);
    transform:rotate(0.5deg); }
    80% { -webkit-transform: rotate(-1deg);
    transform:rotate(-1deg); }
    100% { -webkit-transform: rotate(0deg);
    transform:rotate(0deg); }
}

#Top_Fin {
    animation: topfin 2s linear infinite;
}

@keyframes forearm {
    0% { -webkit-transform: rotate(0deg);
    transform:rotate(0deg); }
    25% { -webkit-transform: rotate(1deg);
    transform:rotate(1deg); }
    75% { -webkit-transform: rotate(-1deg);
    transform:rotate(-1deg); }
    100% { -webkit-transform: rotate(0deg);
    transform:rotate(0deg); }
}

#Forearm {
    animation: forearm 2s ease infinite;
}

@keyframes spot1 {
  0% {fill: #4a5853;}
  8% {fill: #32C2A2;}
  100% {fill: #4a5853;}
}

@keyframes spot2 {
  0% {fill: #4a5853;}
  16% {fill: #32C2A2;}
  100% {fill: #4a5853;}
}

@keyframes spot3 {
  0% {fill: #4a5853;}
  24% {fill: #32C2A2;}
  100% {fill: #4a5853;}
}

@keyframes spot4 {
  0% {fill: #4a5853;}
  32% {fill: #32C2A2;}
  100% {fill: #4a5853;}
}

@keyframes spot5 {
  0% {fill: #4a5853;}
  40% {fill: #32C2A2;}
  100% {fill: #4a5853;}
}

@keyframes spot6 {
  0% {fill: #4a5853;}
  48% {fill: #32C2A2;}
  100% {fill: #4a5853;}
}

@keyframes spot7 {
  0% {fill: #4a5853;}
  56% {fill: #32C2A2;}
  100% {fill: #4a5853;}
}

@keyframes spot8 {
  0% {fill: #4a5853;}
  64% {fill: #32C2A2;}
  100% {fill: #4a5853;}
}

@keyframes spot9 {
  0% {fill: #4a5853;}
  72% {fill: #32C2A2;}
  100% {fill: #4a5853;}
}

@keyframes spot10 {
  0% {fill: #4a5853;}
  80% {fill: #32C2A2;}
  100% {fill: #4a5853;}
}

#Spot1 path{  animation: spot1 5s infinite; }
#Spot2 path{  animation: spot2 5s infinite; }
#Spot3 path{  animation: spot3 5s infinite; }
#Spot4 path{  animation: spot4 5s infinite; }
#Spot5 path{  animation: spot5 5s infinite; }
#Spot6 path{  animation: spot6 5s infinite; }
#Spot7 path{  animation: spot7 5s infinite; }
#Spot8 path{  animation: spot8 5s infinite; }
#Spot9 path{  animation: spot9 5s infinite; }
#Spot10 path{ animation: spot10 5s infinite; }

    /*************
    ************** 
    CSS Helpers ********************************************************************/
.text-center {
	text-align:center;
}
.grid {
	display: grid;
	grid-template-columns: 50% 50%;
}

    /*************
    ************** 
	Skills Page ********************************************************************/
	
	// When adding to the length of the list, change the modulo number in new_skills
	// This will assign classes bg- for the appropriate number of colors
	$colors: #86ED60, #55D2B6, #9383f0,#7CBCEA;


@for $i from 1 through length($colors) {
    .bg-#{$i} {
        background: nth($colors, $i)
    }
}

.skills-grid {
	display: grid;
	grid-template-columns: 33% 33% 33%;
	grid-auto-rows: 160px;
	grid-gap: 10px;
	@include breakpoint(xs) {
		grid-template-columns: 90vw;
	}		
}
.skills-list-item {
	text-align: center;
	border-radius: 45px;
	color: $light;
	h3 {
		color: $light;
		font-size: 1.5em;
		-webkit-margin-before: 0.7em;
	}
	p {
		-webkit-margin-before: 0.2em;
		font-size: 0.9em;
		margin-left: .5em;
		margin-right: .5em;
	}
	h3, p {
    	-webkit-margin-after: 0em;
	}
}
.location {
	-webkit-margin-after: 3em;
	h2 {
		font-size: 2em;
	}
}
